<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div>
        <img src="https://i.postimg.cc/5tL7dffv/image.png" alt="">  
        <h1>Account Created Succesfully!</h1>
        <button class="btn"><a href="/">Login page <i class='bx bx-right-arrow-alt'></i></a></button>
    </div>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e1e1e1;
        }
        div{
            background: #fff;
            color: #0EC978;
            height: 70vh;
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        div h1{
            text-align: center;
            font-size: 2.5em;
        }
        div img{
            height: 400px;
        }
        .btn{
            background: #0EC978;
            width: 200px;
            border: none;
            border-radius: 40px;
            margin: 30px auto;
            cursor: pointer;
            padding: 20px;
        }
        .btn a{
            color:#fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 1px;
        }
    </style>
</body>
</html>